.App {
  min-height: 100vh;
}
.light_app {
  background-color: #efeeee;
}
.dark_app {
  background-color: #1c1c1c;
}
.search_form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 50px;
  margin-right: 5px;
  outline: none;
}
.light_search_bar {
  background: #efeeee;
  box-shadow: 5px 5px 10px #cbcaca, -5px -5px 10px #ffffff;
}
.dark_search_bar {
  background: #1c1c1c;
  box-shadow: 7px 7px 14px #121212, -7px -7px 14px #262626;
}
.search_bar::placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.search_bar:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.search_button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;

  font-weight: 300;
  outline: none;
}
.light_search_button {
  color: #202020;
  background: #efeeee;
  box-shadow: 5px 5px 10px #cbcaca, -5px -5px 10px #ffffff;
}
.dark_search_button {
  background: #1c1c1c;
  box-shadow: 7px 7px 14px #121212, -7px -7px 14px #262626;
  color: #757575;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
